@model OrderViewModel
@using TicketsReselling.Business.Enums;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "MyOrders";
}

<h2>@Localizer["MyOrders"]</h2>
<div class="container-fluid pt-2">
    <div class="row pt-2 mb-2" style="border-bottom-style:groove">
        <div class="col-md-3 text-center">
            @Localizer["Event"]
        </div>
        <div class="col-md-2 text-center">
            @Localizer["EventDate"]
        </div>
        <div class="col-md-2 text-center">
            @Localizer["Price"]
        </div>
        <div class="col-md-3 text-center">
            @Localizer["Seller"]
        </div>
        <div class="col-md-2 text-center">
            @Localizer["Actions"]
        </div>
    </div>
    <div class="col-md-12 pt-2 text-center" style="text-decoration: underline">
        @Localizer["WaitingForConfirmation"]
    </div>
    @if (Model.Orders.Where(t => t.OrderStatus == (int)OrderStatuses.WaitingForConfirmation).Count() == 0)
    {
        <div class="col-md-12 text-center text-info">
            @Localizer["NoOrders"]
        </div>
    }

    @foreach (var order in Model.Orders.Where(t => t.OrderStatus == (int)OrderStatuses.WaitingForConfirmation))
    {
        <div class="row">
            <div class="col-md-3 text-center">
                @Html.ActionLink(@order.EventName, "EventWithTickets", "Events", new { eventId = order.EventId })
            </div>
            <div class="col-md-2 text-center">
                @order.EventDate.ToShortDateString()
            </div>
            <div class="col-md-2 text-center">
                @order.TicketPrice
            </div>
            <div class="col-md-3 text-center">
                @Html.ActionLink(@order.SellerName, "PublicInfo", "Users", new { userId = order.SellerId })
            </div>
            <div class="col-md-1 text-center">
                @Html.ActionLink(Localizer["Cancel"].Value.ToString(), "CancelOrder", "Orders", new { orderId = order.OrderId }, new { @class = "btn btn-primary pt-1 mb-1" })
            </div>
        </div>
    }

    <div class="col-md-12 pt-4 text-center" style="text-decoration: underline">
        @Localizer["Confirmed"]
    </div>

    @if (Model.Orders.Where(t => t.OrderStatus == (int)OrderStatuses.Confirmed).Count() == 0)
    {
        <div class="col-md-12 text-center text-info">
            @Localizer["NoOrders"]
        </div>
    }

    @foreach (var order in Model.Orders.Where(t => t.OrderStatus == (int)OrderStatuses.Confirmed))
    {
        <div class="row">
            <div class="col-md-3 text-center">
                @Html.ActionLink(order.EventName, "EventWithTickets", "Events", new { eventId = order.EventId })
            </div>
            <div class="col-md-2 text-center">
                @order.EventDate.ToShortDateString()
            </div>
            <div class="col-md-2 text-center">
                @order.TicketPrice
            </div>
            <div class="col-md-3 text-center">
                @Html.ActionLink(order.SellerName, "PublicInfo", "Users", new { userId = order.SellerId })
            </div>
            <div class="col-md-1">
                @Html.ActionLink(Localizer["Info"].Value.ToString(), "TrackingInfo", "Orders", new { orderId = order.OrderId }, new { @class = "btn btn-primary pt-1 mb-1" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink(Localizer["Close"].Value.ToString(), "ConfirmOrderReceiving", "Orders", new { orderId = order.OrderId }, new { @class = "btn btn-primary pt-1 mb-1" })
            </div>
        </div>
    }

    <div class="col-md-12 pt-4 text-center" style="text-decoration: underline">
        @Localizer["Rejected"]
    </div>

    @if (Model.Orders.Where(t => t.OrderStatus == (int)OrderStatuses.Rejected).Count() == 0)
    {
        <div class="col-md-12 text-center text-info">
            @Localizer["NoOrders"]
        </div>
    }

    @foreach (var order in Model.Orders.Where(t => t.OrderStatus == (int)OrderStatuses.Rejected))
    {
        <div class="row">
            <div class="col-md-3 text-center">
                @Html.ActionLink(order.EventName, "EventWithTickets", "Events", new { eventId = order.EventId })
            </div>
            <div class="col-md-2 text-center">
                @order.EventDate.ToShortDateString()
            </div>
            <div class="col-md-2 text-center">
                @order.TicketPrice
            </div>
            <div class="col-md-3 text-center">
                @Html.ActionLink(order.SellerName, "PublicInfo", "Users", new { userId = order.SellerId })
            </div>
            <div class="col-md-1 text-center">
                @Html.ActionLink(Localizer["Delete"].Value.ToString(), "RemoveOrder", "Orders", new { orderId = order.OrderId }, new { @class = "btn btn-primary pt-1 mb-1" })
            </div>
        </div>
    }

    <div class="col-md-12 pt-4 text-center" style="text-decoration: underline">
        @Localizer["Completed"]
    </div>

    @if (Model.Orders.Where(t => t.OrderStatus == (int)OrderStatuses.Completed).Count() == 0)
    {
        <div class="col-md-12 text-center text-info">
            @Localizer["NoOrders"]
        </div>
    }

    @foreach (var order in Model.Orders.Where(t => t.OrderStatus == (int)OrderStatuses.Completed))
    {
        <div class="row">
            <div class="col-md-3 text-center">
                @Html.ActionLink(@order.EventName, "EventWithTickets", "Events", new { eventId = order.EventId })
            </div>
            <div class="col-md-2 text-center">
                @order.EventDate.ToShortDateString()
            </div>
            <div class="col-md-2 text-center">
                @order.TicketPrice
            </div>
            <div class="col-md-3 text-center">
                @Html.ActionLink(@order.SellerName, "PublicInfo", "Users", new { userId = order.SellerId })
            </div>
            <div class="col-md-1 text-center">
                @Html.ActionLink(Localizer["Delete"].Value.ToString(), "RemoveOrder", "Orders", new { orderId = order.OrderId }, new { @class = "btn btn-primary pt-1 mb-1" })
            </div>
        </div>
    }
</div>

