@model EventWithTicketsViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer


@{
    ViewData["Title"] = "EventWithTickets";
}

<div class="row">
    <div class="col-md-6">
        <div class="card text-center">
            <img src="/Public/@Model.Event.Banner" alt="@Model.Event.Name" class="card-img-top img-fluid" />
        </div>
    </div>
    <div class="card-body col-md-6 text-center">
        <h1>@Model.Event.Name</h1>
        <h3>@Model.Event.Venue.City.Name</></h3>
        <h3>@Model.Event.Venue.Name</></h3>
        <h3>@Model.Event.Date.ToShortDateString()</></h3>
        @Html.Raw(Model.Event.Description)
    </div>
</div>

<div class="container-fluid">
    @if (Model.Tickets.Count() != 0)
    {
        <div class="row pt-3 mb-2" style="border-bottom-style:groove">
            <div class="col-md-4 text-center">
                @Localizer["Seller"]
            </div>
            <div class="col-md-2 text-center">
                @Localizer["Price"]
            </div>
            <div class="col-md-6 text-center">
                @Localizer["Notes"]
            </div>
        </div>

        foreach (var ticket in Model.Tickets)
        {
            <div class="row">
                <div class="col-md-4">
                    @ticket.SellerName
                </div>
                <div class="col-md-1 text-center">
                    @ticket.Price
                </div>
                <div class="col-md-1">
                    @Html.ActionLink(@Localizer["Order"].Value.ToString(), "AddOrder", "Orders", new { ticketId = ticket.TicketId }, new { @class = "btn btn-primary pt-1 mb-1" })
                </div>
                <div class="col-md-6 text-center">
                    @ticket.SellerNotes
                </div>

            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12 pt-2 text-center text-info">
                @Localizer["NoTickets"]
            </div>
        </div>
    }
    <div>
        @Html.ActionLink(Localizer["AddTicket"].Value.ToString(), "AddTicket", "Tickets", new { eventId = Model.Event.Id })
    </div>
</div>
