@model EventsViewModel
@using TicketsReselling.Business.Models
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<h1>@Localizer["Events"]</h1>
<div class="col-md-6 pt-2">

    <form class="form-inline">
        <label>@Localizer["ChooseCategory"] =></label>
        <select name="categoryId" class="form-control">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <input type="submit" value=@Localizer["Apply"] class="btn btn-primary" />
    </form>
    @Html.ActionLink(Localizer["AddEvent"].Value.ToString(), "AddEvent", "Events")
</div>
@if (ViewBag.categoryId == 1)
{
    @foreach (var category in Model.Categories.Where(c => c.Id != 1))
    {
        <h2 class="pt-5">@category.Name</h2>
        <div class="container-fluid pt-4">
            <div class="row row-cols-md-3">
                @foreach (var eventItem in Model.Events.Where(e => e.Category.Id == category.Id))
                {
                    <div class="col mb-4">
                        <div class="card text-center">
                            <img src="~/Public/@eventItem.Banner" alt="@eventItem.Name" class="card-img-top img-fluid" />
                            <h3>@eventItem.Name</h3>
                            <h4><b>@eventItem.Venue.City.Name</b></h4>
                            <h4><b>@eventItem.Venue.Name</b></h4>
                            <h4><b>@eventItem.Date.ToShortDateString()</b></h4>
                            @if (User.IsInRole(UserRoles.Administrator))
                            {
                                @Html.ActionLink(Localizer["RemoveEvent"].Value.ToString(), "RemoveEvent", "Events", new { eventId = eventItem.Id }, new { @class = "btn btn-danger pt-1 mb-1" })
                            }
                            @Html.ActionLink(Localizer["ShowTickets"].Value.ToString(), "EventWithTickets", "Events", new { eventId = eventItem.Id }, new { @class = "btn btn-primary pt-1 mb-1" })
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    <h2 class="pt-5">@ViewBag.categoryName</h2>
    <div class="container-fluid pt-4">
        <div class="row row-cols-md-3">
            @foreach (var eventItem in Model.Events.Where(e => e.Category.Id == ViewBag.categoryId))
            {
                <div class="col mb-4">
                    <div class="card text-center">
                        <img src="~/Public/@eventItem.Banner" alt="@eventItem.Name" class="card-img-top img-fluid" />
                        <h3>@eventItem.Name</h3>
                        <h4><b>@eventItem.Venue.City.Name</b></h4>
                        <h4><b>@eventItem.Venue.Name</b></h4>
                        <h4><b>@eventItem.Date.ToShortDateString()</b></h4>
                        @if (User.IsInRole(UserRoles.Administrator))
                        {
                            @Html.ActionLink(Localizer["RemoveEvent"].Value.ToString(), "RemoveEvent", "Events", new { eventId = eventItem.Id }, new { @class = "btn btn-danger pt-1 mb-1" })
                        }
                        @Html.ActionLink(Localizer["ShowTickets"].Value.ToString(), "EventWithTickets", "Events", new { eventId = eventItem.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            }
        </div>
    </div>
}
