@model EventsViewModel

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

@foreach (var category in Model.Categories)
{
    <h2 class="pt-5">@category.Name</h2>
    <div class="container-fluid pt-4">
        <div class="row row-cols-md-3">
            @foreach (var eventItem in Model.Events.Where(e => e.Category == category))
            {
                <div class="col mb-4">
                    <div class="card text-center">
                        <img src="~/img/@eventItem.Banner" alt="@eventItem.Name" class="card-img-top img-fluid" />
                        <h3>@eventItem.Name</h3>
                        <h4><b>@eventItem.Venue.City.Name</b></h4>
                        <h4><b>@eventItem.Venue.Name</b></h4>
                        <h4><b>@eventItem.Date</b></h4>
                        @Html.ActionLink("Show tickets", "Index", "EventTickets", new { eventId = eventItem.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            }
        </div>
    </div>
}
