@model MyOrderViewModel

@{
    ViewData["Title"] = "MyOrders";
}

<h2>My orders</h2>

@foreach (var status in Model.Statuses)
{
    <h4 class="pt-3">@status.Name</h4>
    <div class="container-fluid pt-3">

        @if (Model.Orders.Where(t => t.OrderStatus == status).Count() != 0)
        {
            <div class="row pt-3 mb-2">
                <div class="col-md-2 text-center">
                    EVENT
                </div>
                <div class="col-md-2 text-center">
                    EVENT DATE
                </div>
                <div class="col-md-2 text-center">
                    PRICE (USD)
                </div>
                <div class="col-md-3 text-center">
                    SELLER
                </div>
            </div>

            foreach (var order in Model.Orders.Where(t => t.OrderStatus == status))
            {
                <div class="row">
                    <div class="col-md-2 text-center">
                        @order.EventName
                    </div>
                    <div class="col-md-2 text-center">
                        @order.EventDate
                    </div>
                    <div class="col-md-2 text-center">
                        @order.TicketPrice
                    </div>

                    <div class="col-md-3 text-center">
                        @order.SellerName
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row text-center">
                <div class="col-md-7">
                    No orders
                </div>
            </div>
        }

    </div>
}

