@model TicketsReselling.DAL.Models.Venue
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "AddVenue";
}

<h1>@Localizer["AddVenue"] @ViewBag.cityName</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddVenue">
            <input type="hidden" value="@ViewBag.cityId" name="cityId" />
            <input type="hidden" value="@TicketsReselling.DAL.Enums.VenueStatuses.Avaliable" name="Status" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Localizer["Address"]</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Add"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


